# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.egg-info/
.eggs/
.build/
dist/
.pytest_cache/
.mypy_cache/

# Environnements virtuels
venv/
env/

# VCS
.git/
.gitignore

# OS / IDE
.DS_Store
.idea/
.vscode/

# Django
staticfiles/
media/
*.sqlite3
db.sqlite3

# Node/Front
node_modules/

# Secrets/Config locaux
.env
.env.*
